@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing     : border-box;
  padding        : 0;
  margin         : 0;
  scroll-behavior: smooth;
}

@layer components {
  .navbar-p {
    @apply text-white font-bold text-lg capitalize mx-4 cursor-pointer
  }

  .navbar-button {
    @apply text-white py-2 px-4 font-medium text-lg border-none outline-none cursor-pointer rounded-md bg-blue-600;
  }
}